<nav>
    <h1>BOOKS RECORD</h1>
    <ul>
        <li><h2><a href="/books">All_books</a></h2></li>
        <li><h2><a href="/add-new">Add new Book</a></h2></li>
        <li><h2><a href="/about">About </a></h2></li>
    </ul>
</nav>