<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>ABOUT US</h1>
        <h2>This is Books Record Web site </h2>
    </body>
</html>