<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h2><%= book.BookName %></h2>
        <p><%= book.Author %></p>
    </body>
</html>